REACT_APP_MS_EMPLEADO_URL=http://placeholder-empleado
REACT_APP_MS_EQUIPO_URL=http://placeholder-equipo
REACT_APP_MS_GESTION_URL=http://placeholder-gestion
REACT_APP_MS_HISTORIAL_URL=http://placeholder-historial
REACT_APP_MS_MANTENIMIENTO_URL=http://placeholder-mantenimiento
REACT_APP_MS_AUTH_URL=http://placeholder-auth
